<html>
	<head>
	  <link rel="stylesheet" href="/CSS/mycss.css">
	  <title>WIT Contractors LTD</title>
	</head>
	<body id="back_img">
	  <div class="container">
	  	<%- include('./partials/_header.ejs'); %>
	  	<%- yield %>
	  	<%- include('./partials/_footer.ejs'); %>
	  </div>
	</body>
</html>