<div id="navigation">
      <ul id ="menu">
        <li><a href="index.html">Intro</a></li>
        <li><a href="mowing.html">Mowing</a></li>
        <li><a href="tedding and rake.html">Tedding and Raking</a></li>
        <li class="act"><a href="baling.html">Baling</a></li>
        <li><a href="Draw and Stack.html">Draw and Stack</a></li>
      </ul>
</div>
<div id="maincontent">
  <div id="primary">
        <p>
          Baling is the next step in the process after we have nice 30ft rows of dry grass to pick up. It is best 
          to start baling once the due is gone off the top of the rows of grass, so we aim not to start baling too early in the moring unless ran is 
          forecast. Most of our baling is done with a Mchale Fusion baler which is a combination of baler and wrapper in one machine. The wrapper applies the plastic film to the bales.
        </p>
        
        <img src="./images/fusion.jpeg" class="primary_images"></br>
                  
        <p>
          WIT Agri Contractors Ltd for the majority of the time will use the Mchale Fusion baler to bale your crop, and wrap the bale in one pass in the field.
          We will supply the plastic film and net. If you wish we can appply 4 or 6 layers of plastic. Usually 4 layers is enough. We dont really want to apply any more otherwise will
          be all day in the field waiting for the wrap cycles to finish. If you do not want your bales wrapped in teh field, we have the option to use the Fusion without wrapping the bales.
          We simply skip the wrapping process and leave the bales in the field for collection and wrap later, at the point of stacking for example. This is useful if you cant be bothered to cut your hedges
          and need to get through a narrow roadway, the wrapped bales would get torn during transport. Also for hay bales this feature woould also be used.

        </p>
        
        <img src="./images/krone_bale.jpg" class="primary_images"></br>
        
        <p>
          For smaller fields, were we cant get in the gap with the Fusion we have the Krone baler (not a wrapper combi). This is useful machine to get in tight areas and also as a backup to the Fusion baler.
          Also for those of you would like to grow weeds and leave stones in field, we would probably prefer to use this baler so that we dont write off the fusion. This baler does not have a net feature
          and so uses twine instead. You do not want to see us coming into the field with this, so please pick your stones and widen gaps. It was a good baler in its day and we never cursed at it or got angry with it.      
        </p>
  </div>
  <%- include('./partials/_secondary.ejs'); %>
</div>
     
