<div id="navigation">
        <ul id ="menu">
          <li><a href="index.html">Intro</a></li>
          <li><a href="mowing.html">Mowing</a></li>
          <li><a href="tedding and rake.html">Tedding and Raking</a></li>
          <li><a href="baling.html">Baling</a></li>
          <li class="act"><a href="Draw and Stack.html">Draw and Stack</a></li>
        </ul>
</div>
<div id="maincontent">
  <div id="primary">
          <p>
            Once baled, the bales need to be brought in, otherwise known as <em>drawn in</em>. This can be done by the farmer if they have the equipment to do so. 
            We would prefer the farmer to bring in and stack the bales themselves, as it is time consuming and we as contrcators would like ot move onto the next farm 
            and keep baling. We would not then charge for bringing in the bales. Of course we can offer the service, at a cost, and if you choose not to have the bales wrapped in the field using the fusion baler, 
            we can offeer to wrap the bales at the point of stack, at a cost also.
          </p>

          <img src="./images/keltec.jpeg" class="primary_images"></br>
                   
          <p>
            To draw in the bales to the yard, we woudl use our Keltec bale carrier. This can carry the bales in the yard 10 bales at a time, wrapped or unwrapped.
            It is a very quick way to load and unload the bales. On a longer draw form field to yard we woudl use a trailor to carry 17 bales at a time and use the loader to load and unload. 
            Thsi has the advantage of carrying more bales per run, but the disadvantage of the loading and unloading times.  
          </p>
        
          <img src="./images/handler.jpg" class="primary_images"></br>
        
          <p>
            As the bales are been drawn in with the Keltec, if the are wrapped, we will use our tracker loader and keltec bale handler to stack the bales.
            This will stack them without damage or piercing the applied lastic film. Usully we wil stack the bales nice and tidy up to 3 bales high. 
            If you wish we can stack the bales lower at 2 bales high, which has the advantage of maintaining better silage in the bales, but at the expense of needing more ground space.

          </p>
        
          <img src="./images/tanco.jpg" class="primary_images"></br>

          <p>
            If we have to wrap the bales in the yard instead of using the wrapper on the fusion, or if we use our Krone baler, we have the option of using our loader mounted Tanco wrapper.
            This can pick up the bale as our keltec handler can do, but thic can wrap the bale also. This method is the best method for baled sialge as the bale is freshly wrapped before stacking. The bales that come from the fsuion wrapped can be damaged during transport or just left in the field too long before moving, which will cause damage. 
          </p>
  </div>
  <%- include('./partials/_secondary.ejs'); %>
</div>
