<div id="navigation">
      <ul id ="menu">
        <li class="act"><a href="index.html">Intro</a></li>
        <li><a href="mowing.html">Mowing</a></li>
        <li><a href="tedding and rake.html">Tedding and Raking</a></li>
        <li><a href="baling.html">Baling</a></li>
        <li><a href="Draw and Stack.html">Draw and Stack</a></li>
      </ul>
</div>
<div id="maincontent">
      <div id="primary">
        <p>
          <img src="./images/cows_eating.png" class="cows_eating"><br>
          Putting the effort into making good quality silage pays off. Studies show that silage cut in 
          best conditions will save money in the long run. Dry matter yeild is a very important factor,
          which in laymans terms, is the ammount of dry solids in the grass. About 70% dry matter is ideal
          for feed to dairy cows. If the DMY is too high the and value of the feed goes down with reagrds to proteins and nutrients,
          and if the DMY is too low, well then you have wet silage which demisninhes the value. 
        </p>
        <p>
          Wet silage is costly in more ways than one. It is a hidden cost. The cost of bringing the silage to teh yard, in that you are effectively
          transporting water and less actaul feed. You have to store this feed. More water in silage bales will result in more rot in silage which 
          the cows will not eat. There is a cost per bale of silage, 3 by 1 tonne bales of DMY 40% has less quality feed than 2 870KG bale of 70% DM.
          That is 1200 KG of DM for the 3 bales compared to 1218kg of DM for the 2 dryer bales. Cost per bale is approx EUR18 to pay contractor.
          In a 10 acre field, you should get 10 bales to the acre with 70% DM cost = €1800. Same field but baling at 40% DM, the bales per acre
          will increase to about 14, so cost is now gone up to EUR2520, for effectively the same amount of feed. (Not to mention damgae to field with extra weight
          and traveling and also the extra storage)
        </p>
        <p>
          Of course other factors effect the quality and value of silage.If you think growing a field of weeds and baling will work then you have a problem.
          At WIT Agri contractor Ltd have made this website to cover the aspects of baled silage making from mowing to storage in order to get the best value. 
        </p>
        <img src="./images/bale_stack.jpg" class="bale_stack">
      </div>
      <%- include('./partials/_secondary.ejs'); %>
</div>

      