<div id="secondary">
  <p>
  Please visit our secondary business at WIT Tyres for your tyre supply fitting needs on Tyre Street Waterford
  </p><br>
  <img src="../images/tyre.png" class="secondary_images"></br>      
</div>